.principal-container{
    background-color: #F3F5FC;
    width: 100%;
    height: 100%;

}
.div-content{
    height: 100%;
}
.div-texto-encriptado{
 width: 400px;
 height: 644px;
 background-color: #FFFFFF;
 margin-top: 25px;
 margin-bottom: 30px;
 border-radius: 32px;
 padding: 30px;
 padding-top: 80px;
 text-align: center;
}
.div-texto-encriptar{
    padding-top: 25px;
}
.div-texto-encriptar div{
    text-align: center;
}

.input-texto-encriptar{
    width: 577px;
    height: 48px;
    color: #0A3871;
    margin-top: 68px;
    font-family: inter;
    font-weight: 400;
    font-size: 30px;
    padding: 20px;
    border-radius: 1.5rem;
    border: none !important;
}

.btn-encript{
    background-color: #0A3871 !important;
    width: 200px;
    color: #FFFFFF !important;
    padding: 10px;
    border-radius: 4rem !important;
}
.btn-copiar-texto{
    width: 130px !important;
    background-color: #dbdde0 !important;
    border-radius: 4rem !important;
}
.btn-descript{
    width: 200px;
    background-color: #D8DFE8 !important;
    color: #0A3871;
    border: 1px solid #0A3871 !important;
    padding: 10px;
    border-radius: 4rem !important;
}

.contenedor-principal-bottom{

    position: relative;
    top: 400px;
}
.contenedor-principal-bottom .contenedor-aviso{
    width: 50%;
    text-align: left;
    display: inline-block;
}
.contenedor-principal-bottom .contenedor-botones{
    width: 50%;
    text-align: left;
    display: inline-block;
    margin-top: 2px;
}
.contenedor-principal-bottom .contenedor-aviso p::before {
    content: "\f05a"; /* Unicode for the Font Awesome question-mark icon */
    font-family: 'Font Awesome 5 Free'; /* Font Awesome font family */
    font-weight: 900; /* Ensure the correct weight for the icon */
    margin-right: 5px; /* Adjust spacing as needed */
  }
.contenedor-mensaje h4{
    font-weight: 600;
}
#mensaje-encriptado{
    font-size: 22px;
    font-weight: 600;
}
#div-mensaje-encriptado .row2, .row1{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 450px) {
    .div-content{
        width: 100%;
        margin: 0px;
        height: auto;
    }
    .div-oculto img{
        display: none;
    }

    .div-texto-encriptado{
        width: auto;
        height: auto;
        background-color: #FFFFFF;
        margin-top: 60px;
        margin-bottom: 0px;
        border-radius: 32px;
        padding: 0px;
        padding-top: 0px;
        text-align: center;
    }
    .contenedor-principal-bottom{
        position: relative;
        top: 30px;
    }
    .contenedor-aviso{
        width: 100% !important;
    }
    .div-texto-encriptar{
        padding-top: 0px !important ;
    }
    .btn-descript, .btn-encript{
        width: 100%;
        margin-top: 10px;
    }
    .contenedor-principal-bottom .contenedor-botones{
        width: 100% !important;
        margin-top: 2px;
        text-align: center !important;
        
    }
    .contenedor-principal-bottom {
        justify-content: center;
    }
    .div-texto-encriptar{
        background-color: rebeccapurple transparent;
        width: 100% !important;
    }
    .input-texto-encriptar{
        width: 100%;
    }
    .principal-container{
        display: flex;
        height: 100% !important;
        position: absolute;
        padding-top: 20px;
    }

}
  
  
@media (min-width: 768px) and (max-width: 884px) {
    .div-content{
        width: 100%;
        margin: 0px;
        height: auto;
    }
    .div-oculto img{
        display: none;
    }

    .div-texto-encriptado{
        width: auto;
        height: auto;
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 32px;
        padding: 0px;
        padding-top: 0px;
        text-align: center;
    }
    .contenedor-principal-bottom{
        position: relative;
        top: 30px;
    }
    .contenedor-aviso{
        width: 100% !important;
    }
    .div-texto-encriptar{
        padding-top: 0px !important ;
    }
    .btn-descript, .btn-encript{
        margin-top: 20px;
    }
    .contenedor-principal-bottom .contenedor-botones{
        width: 100% !important;
        margin-top: 2px;
        text-align: center !important;
        
    }
    .contenedor-principal-bottom {
        justify-content: center;
    }
    .div-texto-encriptar{
        background-color: rebeccapurple transparent;
        width: 100% !important;
    }
    .input-texto-encriptar{
        width: 100%;
    }
    .principal-container{
        display: flex;
        height: 100% !important;
        position: absolute;
        padding-top: 20px;
    }

}
  